.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  button {
    width: 100%;
    justify-content: center;

    img {
      height: 16px;
      margin-left: .5em;
    }
  }
}

.file {
  padding: 0;
  label {
    padding: 16px;
  }
}
