@import "src/styles/variables";

.footer {
  width: 100%;
  font-size: 14px;
  color: $grey-text-color;
  margin-top: 16px;
  p {
    display: flex;
    span {
      display: block;
      margin-left: auto;
    }
  }

}
