.section {
  padding: 32px 0;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.title {
  font-size: 32px;
  font-weight: 500;
  margin-right: auto;
  line-height: 100%;
}
