@import "src/styles/variables";

.button {
  display: inline-flex;
  justify-content: center;
  padding: 16px;
  border-radius: $border-radius;
  transition: $transition-time;
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:active:not(:disabled) {
    transform: scale(.9);
  }

  /* Font */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.contained:not(:disabled) {
  &.blue {
    background-color: $primary-blue-color;
  }
  &.red {
    background-color: $red-color;
  }
  color: #FFF;
  &:hover {
    opacity: .7;
  }
}

.text {
  background: none;
  &.blue {
    color: $primary-blue-color;
    &:hover {
      background-color: rgba(44, 68, 218, .2);
    }
  }
  &.red {
    color: $red-color;
    &:hover {
      background-color: rgba(218, 44, 44, 0.2);
    }
  }
}
