@import "src/styles/variables";

.button {
  display: inline-flex;
  padding: 16px;
  border-radius: $border-radius;
  transition: $transition-time;
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:active:not(:disabled) {
    transform: scale(.9);
  }

  /* Font */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.contained:not(:disabled) {
  background-color: $primary-blue-color;
  color: #FFF;
  &:hover {
    opacity: .7;
  }
}
.text {
  background: none;
  color: $primary-blue-color;
  &:hover {
    background-color: rgba(44, 68, 218, .2);
  }
}
