@import "src/styles/mixins";

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    display: block;
    @include ellipsis;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
