@import "src/styles/variables";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  @media (min-width: $bp-md) {
    grid-template-columns: 1fr 1fr;
  }
}
.input {
  display: block;
  max-width: 600px;
  margin-top: 16px;
}
.img {
  min-height: 250px;
}
.btn {
  margin-top: 32px;
}
