@import "src/styles/variables";

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 16px;
  min-height: 275px;
  height: 100%;
  &:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transform: scale(1.05);
    transition: $transition-time;
  }

  img {
    height: 150px;
    border-radius: $border-radius;
    width: 100%;
    object-fit: cover;
  }
}

.title {
  font-weight: 500;
  margin: 16px 0 auto 0;
}

.label {
  position: absolute;
  top: 24px;
  right: 24px;
}
