@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  span {
    color: $grey-text-color;
    margin-right: .5em;
  }

  audio {
    margin-top: 8px;
  }
}
