@import "src/styles/mixins";

.container {
  padding: 8px 0;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.reset {
  height: 100%;
  margin-top: auto;
}

.chips {
  margin: 16px 0;
}

.title {
  @include title;
  margin: 16px 0;
}
