$grey-background-color: #F7F7F7;
$primary-blue-color: #2C44DA;
$border-color: #DADADA;

$border-radius: 4px;

$transition-time: .3s;

$max-content-width: 1200px;

// breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
