@import "src/styles/variables";

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    margin-right: .5em;
  }

  a {
    color: $primary-blue-color;
    text-decoration: underline;
    cursor: pointer;
  }
}
