@import "src/styles/mixins";
@import "src/styles/variables";

.section {
  position: relative;
  margin-top: 32px;
  display: grid;
  @include grid-columns(1);

  @media (min-width: $bp-sm) {
    @include grid-columns(2);
  }

  padding: 32px;
}
.title {
  font-style: normal;
  font-weight: 600;
  margin-bottom: 32px;

  font-size: 36px;

  @media (min-width: $bp-lg) {
    font-size: 40px;
  }
  @media (min-width: $bp-xl) {
    font-size: 66px;
  }
}
.sub-title {
  font-weight: 400;
  font-size: 24px;
  margin-top: 16px;

  @media (min-width: $bp-lg) {
    font-size: 28px;
  }
  @media (min-width: $bp-xl) {
    font-size: 36px;
  }
}

.img {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
