@import "src/styles/variables";
@import "src/styles/mixins";

.container {
  display: grid;
  @include grid-columns(1);
  gap: 32px;

  @media (min-width: $bp-md) {
    @include grid-columns(2);
  }

  border: 1px solid $border-color;
  border-radius: $border-radius;

  padding: 32px;
}

.name {
  font-size: 32px;
  margin-bottom: 16px;
}

.details {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    color: $grey-text-color;
  }
  span {
    display: block;
    margin-left: auto;
    color: black;
    max-width: 250px;
    @include ellipsis;
  }
}

.clickable-id {
  text-decoration: underline;
  cursor: pointer;
}

.submission {
  color: #FFFFFF!important;
}

.tags {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.img {
  border-radius: $border-radius;
  width: 100%;
}
