@import "src/styles/variables";
@import "src/styles/mixins";

.details {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    color: $grey-text-color;
  }
  span {
    display: block;
    margin-left: auto;
    color: black;
    max-width: 250px;
    @include ellipsis;
  }
}

.clickable-id {
  text-decoration: underline;
  cursor: pointer;
}

.submission {
  color: #FFFFFF!important;
}

.tags {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
