@import "src/styles/variables";
@import "src/styles/mixins";

.location {
  span {
    color: $grey-text-color;
    margin-right: .5em;
  }
  p {
    margin-bottom: .5em;
  }
}

.grid {
  display: grid;
  @include grid-columns(2)
}
