@import "src/styles/variables";

.container {

}
.img-wrapper {
  position: relative;

  img {
    width: 100%;
    border-radius: $border-radius;
    height: 250px;
    object-fit: cover;
  }
}
.chip {
  position: absolute;
  top: 16px;
  right: 16px;
}
.title {
  font-size: 32px;
  margin: 12px 0;
  font-weight: 500;
}
.btn-group {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  button {
    text-decoration: underline;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
