@import "src/styles/variables";
@import "src/styles/mixins";

.img-wrapper {
  position: relative;

  img {
    width: 100%;
    border-radius: $border-radius;
    height: 250px;
    object-fit: cover;
  }
}
.chip {
  position: absolute;
  top: 16px;
  right: 16px;
}
.title {
  font-size: 32px;
  margin: 12px 0;
  font-weight: 500;
}
.description {
  @include ellipsis
}
.coordinates {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  margin: 16px 0;
  span {
    color: $grey-text-color;
    margin-right: .5em;
  }
}
.country {
  width: 100%;
}
.btn-group {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  button {
    text-decoration: underline;
  }
}
