@import "src/styles/variables";

.paginator {
  display: flex;
  justify-content: center;
  gap: 8px;

  button {
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 500;


    &:hover {
      background: $grey-background-color;
      color: $primary-blue-color;
    }
  }
}
.current {
  color: $primary-blue-color;
  font-weight: 600;
}
