@import "src/styles/variables";
@import "src/styles/mixins";

.list {
  display: grid;
  grid-gap: 16px;

  @include grid-columns(1);

  @media (min-width: $bp-md) {
    @include grid-columns(2);
  }

  @media (min-width: $bp-lg) {
    @include grid-columns(3);
  }
}
.item {
  display: flex;
  flex-direction: column;
  @include box(16px)
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
}
.description {
  margin: 8px 0;
}
.detail {
  margin: 4px 0 ;
  display: flex;
  justify-content: space-between;

  span {
    color: $grey-text-color
  }
}
.active {
  color: forestgreen;
}
.btn-group {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding-top: 16px;
  margin-top: auto;

  button {
    padding: 8px 16px;
  }

  a {
    margin-left: auto;
  }
}
.delete:hover {
  img {
    filter: $red-color-filter;
  }
}
