@import "src/styles/variables";
@import "src/styles/mixins";

.grid {
  display: grid;
  @include grid-columns(1);

  @media (min-width: $bp-md) {
    @include grid-columns(2);
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $bp-md) {
    padding-right: 32px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.input {
  width: 100%;
  max-width: 600px;
  &--short {
    max-width: 300px;
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
}
.delete {
  margin-left: auto;
}
.bundle-ids-inputs {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.bundle-ids-list {
  display: flex;
  gap: 8px;
}
.options {
  @media (min-width: $bp-md) {
    padding-left: 32px;
    border-left: 1px solid $border-color;
  }
}
.categories {
  margin: 8px 0 16px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  min-height: 53px;
}
